<section class="content">
    <mat-card>
        <mat-card-content>
        </mat-card-content>

        <div class="left-side">
            <app-search-city></app-search-city>
            <app-restaurant-types></app-restaurant-types>
        </div>
    </mat-card>

   
        <div class="right-side">
            <!-- Contenuto della parte destra -->
            <!-- Lista ristoranti con il bottone cerca -->
            <app-restaurants-list></app-restaurants-list>
        </div>
    
</section>