
<mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Cuisine Type Selection" multiple>
        <mat-chip-option *ngFor="let chip of cuisineType" [selected]="chip.selected" [color]="chip.color" (click)="toggleSelection(chip)">
            {{chip.name}}
        </mat-chip-option>
    </mat-chip-listbox>
    
    <hr class="solid">
    
    <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Tag Selection" multiple>
        <mat-chip-option *ngFor="let chip of tags" [selected]="chip.selected" [color]="chip.color" (click)="toggleSelection(chip)">
            {{chip.name}}
        </mat-chip-option>
    </mat-chip-listbox>



<!-- TODO: Cambiare colori chips -->
<!--
<mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection" multiple>
    @for (chip of cuisineType; track chip) {
    <mat-chip-option [selected]="chip.selected" [color]="chip.color" (click)="toggleSelection(chip)">
        {{chip.name}}
    </mat-chip-option>
    }
</mat-chip-listbox>

<hr class="solid">

<mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection" multiple>
    @for (chip of tags; track chip) {
    <mat-chip-option [selected]="chip.selected" [color]="chip.color" (click)="toggleSelection(chip)">
        {{chip.name}}
    </mat-chip-option>
    }
</mat-chip-listbox> -->